body, .RaLayout-root {
  font-family: 'SUSE', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.list-common .RaDatagrid-root {
  background-color: #4e4c4a !important;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  font-size: 24px;
}

.list-common .MuiTableRow-root,
.list-common .MuiTableCell-root {
  color: #ffffff !important;
  text-align: center;
}

.list-common .MuiTab-root {
  background-color: #7a3b3b !important;
  color: #ffffff !important;
  border-radius: 15px;
}

.list-common .Mui-selected {
  background-color: #b7a89a !important;
}

.list-common .RaTabbedShowLayout-content {
  padding-left: 5% !important; 
  border-radius: 15px;
  background-color: #e4c79c !important;
  color: #ffffff;
}

.list-common .RaDatagrid-headerCell {
  font-weight: 500;
  color: #ffffff !important;
  background-color: #7a3b3b !important;
  padding: 15px;
  text-align: center; 
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.list-common .RaTextField-root,
.list-common .RaNumberField-root {
  color: #ffffff !important;
}

.list-common .RaDatagrid-row {
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 15px;
}

.list-common .RaDatagrid-row:nth-child(even) {
  background-color: #b7a89a;
}

.list-common .RaDatagrid-row:nth-child(odd) {
  background-color: #4e4c4a;
}

.list-common .RaDatagrid-row:hover {
  background-color: #7a3b3b !important; 
  transform: scale(1.02) !important;
  text-shadow: 0 0 5px #ffffff !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.list-common .RaDatagrid-cell {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  color: #ffffff !important;
}

.list-common .RaDatagrid-image {
  width: 30px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.table-container-p {
  color: #7a3b3b;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  padding-left: 40%;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .list-common .RaDatagrid-root {
    padding: 10px;
  }

  .table-container-p {
    padding-left: 0;
    text-align: center;
  }
}

.MuiAppBar-root {
  background-color: #7a3b3b !important;
}

.MuiTypography-h6 {
  color: #ffffff !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  padding: 2px 5px;
  letter-spacing: 2px;
}

.MuiButton-root {
  margin-right: 10px;
  padding: 8px !important;
  background-color: #7a3b3b !important;
  color: #ffffff !important;
}
